

 body {
    margin: 0;
    width:100%;
    height: 100%;
}
A{
    color: black;
}
    h1 {
    
    margin-left: 20px;
    }
    
    h2, h3, h4 {
        color:gray;
        margin-right:5%;
        margin-left:5%;
    }
    
    p
    {
    margin-right:9%;
    margin-left:9%;
    line-height: 35px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    }
    
    p span{
        font-size:25px;
        float:left;
        padding-right:5px;
        font-weight:bold;
        font-family:'Times New Roman', Times, serif;
        color:#404E2B;
    }

    #header {
        background-color:#404E2B;
        color:#FFFFFF;
        clear:both;
        text-align:center;
        padding:15px;
    }

    #footer {
        background-color:#404E2B;
        color:#FFFFFF;
        clear:both;
        text-align:center;
        padding:15px;
    }

    #main{
        display: flex;
        position: relative;
    }
    #main2{
        margin-left: 210px;
        padding-left: 80px;
        padding-right: 80px;
        overflow: scroll;
    }
    #nav {
        line-height:60px;
        background-color:#eeeeee;
        width: 150px;
        padding:30px;
        position: absolute;
        left: 0;
        top:0;
        bottom: 0;
    }
    

    
    .center {
         margin:0 auto; 
         width: 300px;
    }
    
    #video{
        margin: 0 150;
        width :300px
        
    }
    #video1{
        margin: 0 230;
        width :500px
        
    }


    